@font-face {
  font-family: "Space-Grotesk";
  font-style: 'normal';
  src: local("SpaceGrotesk-Regular"), local("SpaceGrotesk Regular"),
    url("../src/Grotesk/Space_Grotesk/static/SpaceGrotesk-Regular.ttf") format(opentype),
}

@font-face {
  font-family: "Grotesk";
  font-style: 'normal';
  src: local("SpaceGrotesk-Medium"), local("SpaceGrotesk Medium"),
    url("../src/Grotesk/Space_Grotesk/static/SpaceGrotesk-Medium.ttf") format(opentype),
}

*, ::after, ::before {
 padding: 0;
 margin: 0 auto;
}

img {
  pointer-events: none;
}

u {
  margin-left: 40px;
}

.form {
  display: block;
  font-size: 16px; 
  line-height: 28px;
  margin-bottom: 5px;
}

body {
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1240px;
  font-family: 'Space-Grotesk';
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}

p {
  font-size: 18px;
  line-height: auto;
  letter-spacing: 0;
}

a {
  display: block;
  color: #000000;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
}

span {
  display: block;
  font-size: 20px;
  line-height: 28px;
}

.navigate_span {
  margin: 0;
  grid-area: text;
  max-width: 498px;
}

h1, h2, h3 { font-family: 'Space-Grotesk'; }

h1 {
  display: inline-block;
  font-size: 60px;
  line-height: 77px;
}

h2 {
  display: flex;
  font-size: 40px;
  line-height: 51px;
}

h3 {
  font-size: 30px;
  line-height: 38px;
}

h4 {
  font-size: 20px;
  line-height: 26px;
}

#nav_id {
  grid-area: header;
  max-width: 531px;
}

button#butt {
  justify-self: end;
  grid-area: butt;
}

ul {
  list-style-type: none;
}

header {
  margin: 60px 0 70px 0;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header_wrap {
  display: flex;
  column-gap: 206px;
}

.header_ul {
  display: flex;
  column-gap: 40px;
  align-items: center;
}

.header_ul > li::after {
  display: block;
  width: 0;
  height: 3px;
  background-color: #00a650; 
  content: "";
  transition: width 0.3s ease-out;
}

.header_ul > li::before {
  display: block;
  width: 0;
  height: 3px;
  background-color: #00a650; 
  content: "";
  transition: width 0.3s ease-out;
}

.header_ul > li:hover::after, 
.header_ul > li:hover::before {
  width: 100%;
}

button {
  cursor: pointer;
  font-family: 'Space-Grotesk';
  font-size: 20px;
  line-height: 28px;
  padding: 20px 35px;
  border: 0;
  border-radius: 16px;
}

.button_primary {
  background-color: #191a23;
  color: #ffffff;
}

.button_primary:hover {
  background-color: #b9ff66;
  color: #191a23;
}

.button_second:hover {
  background-color: #191a23;
  color: #ffffff;
}

.button_second {
  background-color: #fff;
  border: 1px solid #191a23;
}

.button_third {background-color: #b9ff66;}

.selector {
  margin-right: 0;
  padding: 0;
  border-radius: 100%;
  border: 1px solid #191a23;
  width: 58px;
  height: 58px;
  background-color: #f3f3f3;
}

.selector#plus {
  background-image: url('../public/Plus.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.selector#minus {
  background-image: url('../public/Minus.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.navigate {margin-bottom: 70px;}

.navigate_frame {grid-area: image;}

.navigate_wrap {
  display: grid;
  grid-template-columns: repeat(2, auto);
  row-gap: 35px;
  grid-template-rows: 231px 112px 68px;
  grid-template-areas: 
  "header image"
  "text image"
  "butt image";
  column-gap: 108px;
}

.brends {margin-bottom: 148px;}

.brends > ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 95px;
}

.services_header, 
.contact_header, 
.working_header, 
.case_header, 
.team_header, 
.test_header {
  display: inline-flex;
  column-gap: 40px; row-gap: 30px;
  flex-wrap: wrap;
}

.services_header > p, .case_header > p {max-width: 580px;}

.working_header > p {max-width: 292px;}

.team_header > p, .test_header > p {max-width: 473px;}

.contact_header > p {max-width: 323px;}

.heading {
  background-color: #b9ff66;
  color: #000000;
  font-size: 40px;
  line-height: 51px;
  font-weight: bold;
  border-radius: 7px;
  padding: 0 7px;
}

.head_white, .head_green {
  color: #000000;
  font-size: 30px;
  line-height: 38px;
  font-weight: bold;
  border-radius: 7px;
  padding: 0 7px;
}

.services_content,
.case_wrap,
.work_wrap,
.team_wrap,
.test_wrap,
.contact_wrap {
  margin-top: 80px;
}

.head_white {background-color: #ffffff;}

.head_green {background-color: #b9ff66;}

.services_content {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(2, 600px);
  grid-template-rows: repeat(3, 1fr);
  gap: 40px;
}

.service_block {
  background-color: #f3f3f3;
  display: flex;
  column-gap: 66px;
  align-items: center;
  box-shadow: 0 5px #191a23;
  width: 498px;
  border: 1px solid #000000;
  border-radius: 45px;
  padding: 50px;
}

.service_img:hover {
  overflow: hidden;
  transform: scale(1.05, 1.05);
}

#green {background-color: #b9ff66;}

#black {background-color: #191a23;}

.link_container, .alternative_container, .special_link {
  display: inline-flex;
  align-items: center;
}

.alternative_container {color: #ffffff;}

.link_container::after, .alternative_container::after {
  margin-left: 15px;
  opacity: 0;
  content: 'Learn more';
  transition: 0.5s;
}

.link_container:hover:after, .alternative_container:hover::after {
  transition: 0.5s;
  opacity: 1;
}

.special_link {transition: 0.5s;}

.special_link:hover {
  transition: 0.5s;
  transform: scale(1.1, 1.1);
}

.special_link::before {
  color: #b9ff66;
  content: 'Learn more';
  margin-right: 15px;
}

.proposal_wrap {
  display: flex;
  align-items: center;
  column-gap: 186px;
  padding: 60px 0 60px 60px;
  background-color: #f3f3f3;
  max-height: 227px;
  border-radius: 45px;
}

.proposal {margin-bottom: 163.5px;}

.proposal_content > p {
  max-width: 500px;
  margin: 26px 0;
}

.proposal_img > img {
  position: relative;
}

.case {margin-bottom: 140px;}

.case_wrap {
  display: flex;
  column-gap: 64px;
  background-color: #191a23;
  border-radius: 45px;
  padding: 70px 60px;
}

.case_wrap > li > p {
  max-width: 286px;
  line-height: 23px;
  color: #ffffff;
  margin-bottom: 20px;
}

.line {
  position: relative;
  top: 0px;
  background-color: #ffffff;
  height: 186px;
}

.line:last-child {
  display: none;
}

.work_line {
  border-color: #000000;
  margin: 30px 0;
}

.work_passive:last-child, .work_active:last-child {
  margin-bottom: 140px;
}

.team_wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 38px;
  margin-bottom: 40px;
}

.team_img, .team_context {
  margin-left: 0;
  margin-right: 0;
}

.team_block {
  border-radius: 45px;
  max-width: 315px;
  box-shadow: 0 5px #191a23;
  border: 1px solid #191a23;
  padding: 40px 35px;
}

.team {margin-bottom: 100px;}

.team_context {display: table;}

.team_context > p {line-height: 23px;}

.team_context > a {
  background-image: url('../public/linkedin.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 155px;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  background-color: #191a23;
}

.team_person {
  justify-content: space-between;
  column-gap: 20px;
  display: flex;
}

#say {margin-right: 35px;}
#send {width: 556px;}

.team_line {
  color: #000000;
  margin: 28px 0;
  width: 315px;
}

.test {margin-bottom: 140px;}

.contact_wrap {
  overflow: hidden;
  display: flex;
  column-gap: 217px;
  padding: 60px 0 80px 100px;
  background-color: #f3f3f3;
  border-radius: 45px;
  margin-bottom: 132px;
}

input[type="radio"] {
  margin-right: 14px;
  width: 28px;
  height: 28px;
  accent-color: #b9ff66;
}

input[type="text"] {
  box-sizing: border-box;
  line-height: 23px;
  font-size: 18px;
  border: 1px solid #191a23;
  width: 556px;
  border-radius: 14px;
  padding: 18px 30px;
  margin-bottom: 25px;
}

#footer_text {
  margin-bottom: 0;
  margin-right: 25px;
  color: #ffffff;
  border-color: #ffffff;
  background-color: #292a32;
  width: 285px;
  padding: 22px 35px;
}

textarea {
  display: block;
  box-sizing: border-box;
  line-height: 23px;
  font-size: 18px;
  width: 556px;
  height: 190px;
  border-radius: 14px;
  padding: 18px 30px;
  margin-bottom: 40px;
}

footer {
  color: #ffffff;
  box-sizing: border-box;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  background-color: #191a23;
  padding: 55px 60px 50px 60px;
}

.footer_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 66.5px;
}

.footer_line {margin: 50px 0;}

.footer_desc > p{
  display: inline; line-height: 28px;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  column-gap: 154px;
}

.footer_contact {max-width: 332px;}

.footer_contact > article {
  display: inline;
  font-size: 20px;
  line-height: 26px;
  border-radius: 7px;
  padding: 0 7px;
  background-color: #b9ff66;
  color: #000000;
  font-weight: bold;
}

.footer_contact > p {line-height: 23px;}
.phone {margin-bottom: 20px;}
.footer_logo {margin-left: 0;}

.footer_form {
  padding: 58px 40px;
  box-sizing: border-box;
  background-color: #292a32;
  border-radius: 14px;
}

.email {
  margin-top: 27px;
  margin-bottom: 20px;
}

.footer_ul {
  display: flex;
  column-gap: 40px;
}

.footer_ul > li > a {
  color: #ffffff;
  font-size: 18px;
  line-height: 23px;
  text-decoration: underline;
}

.footer_ul_logo {
  margin-right: 0;
  display: flex;
  column-gap: 20px;
}

.logotip {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 100%;
}

.logotip:hover {
  background-color: #b9ff66;
}

.work_passive, 
.work_active {
  box-sizing: border-box;
  border-radius: 45px;
  max-width: 1234px;
  padding: 41px 60px;
  margin-bottom: 30px;
}

.work_passive {
  background-color: #f3f3f3;
}

.work_active {
  background-color: #b9ff66;
}

.work_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.number {
  font-family: 'Grotesk';
  font-size: 60px;
  line-height: 77px;
}

.number + p {
  font-family: 'Grotesk';
  font-size: 30px;
  line-height: 38px;
}

@media screen and (max-width: 530px) {

  h1 {font-size: 43px; line-height: 55px;}
  h2 {font-size: 36px; line-height: 46px;}
  h3 {font-size: 26px; line-height: 33px;}
  h4 {font-size: 18px; line-height: 23px;}

  p {font-size: 16px; line-height: 24px;}

  #nav_id {max-width: 390px;}

  .navigate_span {font-size: 16px; max-width: 390px;}

  .number + p {
    font-size: 18px;
    line-height: 23px;
  }

  .number {
    font-size: 30px;
    line-height: 38px;
  }

}

@media screen and (max-width: 1300px) {
  .services_content {
    display: flex;
    flex-direction: column;
  }

  .head_green,
  .head_white {
    font-size: 26px;
    line-height: 33px;
  }

  .navigate_wrap {
    display: flex;
    flex-direction: column;
    row-gap: 0;
  }

  .navigate_span {
    margin: inherit;
  }

  .proposal_wrap {
    column-gap: 20px;
  }
}

@media screen and (max-width: 620px) {
  
  .proposal_wrap {
    min-height: 250px;
    max-width: 290px;
  }

  .proposal_content > p {
    margin: 20px 0;
  }

  .navigate_frame {
    min-width: 361px;
    min-height: 310px;
  }
  .navigate_frame > img {
    width: 100%;
    height: auto;
  }

  .brends > ul {column-gap: 38px;}
}

@media screen and (max-width: 910px) {
  .services_content,
  .case_wrap,
  .work_wrap,
  .team_wrap,
  .test_wrap,
  .contact_wrap {
    margin-top: 40px;
  } 
}

@media screen and (max-width: 700px) {
  
}

@media screen and (max-width: 1040px) {
  .proposal_wrap {
    padding-right: 50px;
  }
  .proposal_img {
    display: none;
  }
}

@media screen and (max-width: 860px) {
  .work_passive, .work_active {
    padding: 30px;
  }

  .number {
    font-size: 45px;
    line-height: 55px;
  }

  .number + p {
    font-size: 20px;
    line-height: 28px;
  }
}