@import "tailwindcss";

:root {
  --white: #ffffff;
  --black: #000000;
  --green: #b9ff66;
  --dark: #191a23;
  --grey: #f3f3f3;
  --placeholder: #898989;
  font-family:
    "SpaceGrotesk",
    Arial,
    -apple-system,
    sans-serif;
  font-weight: 400;

  max-width: 1440px;
  margin-inline: auto;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:where(h1, h2, h3, h4, h5, h6) {
  font-family: "SpaceGrotesk", sans-serif;
  font-weight: 500;
}

@theme {
  --color-dark: #191a23;
  --color-green: #b9ff66;
  --color-grey: #f3f3f3;
  --color-gray: #292a32;

  --custom-shadow: 0 5px var(--color-dark);
}

p {
  font-size: 18px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

::placeholder {
  color: var(--placeholder);
}

@media screen and (max-width: 992px) {
  #form--image {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  p {
    font-size: 16px;
    line-height: 1.5;
  }

  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 18px;
  }
}
